<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StaticAnalysis" ToolsVersion="17.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="cppcorecheckarithmeticrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckboundsrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckconstrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckenumrules.ruleset" Action="Default" />
  <Include Path="cppcorechecklifetimerules.ruleset" Action="Default" />
  <Include Path="cppcorecheckrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckstlrules.ruleset" Action="Default" />
  <Include Path="nativerecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
</RuleSet>